[submodule "bottomsheet"]
	path = bottomsheet
	url = git@gitlab.com:CoffeeIT/aroma/android/aroma-android-bottomsheet.git

[submodule "emojipicker"]
	path = emojipicker
	url = git@gitlab.com:CoffeeIT/aroma/android/aroma-android-emojipicker.git

[submodule "pincode"]
	path = pincode
	url = git@gitlab.com:CoffeeIT/aroma/android/aroma-android-pincode.git
