[submodule "emojipicker"]
	path = emojipicker
	url = git@gitlab.com:CoffeeIT/aroma/android/aroma-android-emojipicker.git
[submodule "bottomsheet"]
	path = bottomsheet
	url = git@gitlab.com:CoffeeIT/aroma/android/aroma-android-bottomsheet.git
