[submodule "bottomsheet"]
	path = bottomsheet
	url = https://gitlab.com/CoffeeIT/aroma/android/aroma-android-bottomsheet.git
[submodule "emojipicker"]
	path = emojipicker
	url = https://gitlab.com/CoffeeIT/aroma/android/aroma-android-emojipicker.git
